<footer class="footer">
  <div class="container">
    <div class="copyright  typeset">
      <small class="small">&copy; {{ site.title }} {{ site.time | date: '%Y' }}&nbsp;&nbsp;&nbsp;&nbsp;</small>
      <!--      Privacy Policy -->
      <small class="small"><a href="{{site.url}}/terms">Privacy Policy</a></small>
      <!-- Osano Cookie Preference --> 
      <small class="small"><a href="#" onclick="Osano.cm.showDrawer('osano-cm-dom-info-dialog-open')">&nbsp;&nbsp;&nbsp;&nbsp;Cookie Preferences</a></small>
      <small class="small"><a href="{{site.url}}/contact">&nbsp;&nbsp;&nbsp;&nbsp;Contact Form</a></small>
      
    </div>

    {% include nav-footer.html %}
  </div>
</footer>
